# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
/paydate_calculator
*.exe
*.out
*.app
*.test

*.tar.gz

# http://www.gnu.org/software/automake

Makefile.in
Makefile
/configure.scan
/config.*
/autoscan.log

# http://www.gnu.org/software/autoconf

/libtool
/ltmain.sh
/m4
/.libs
/.deps
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
